# Node modules
node_modules/

# Hardhat cache
cache/
artifacts/
typechain/

# Dotenv files
.env

# OS files
.DS_Store

# Coverage reports
coverage/

# Logs
*.log

# IDEs
.vscode/
.idea/

# Misc
*.tsbuildinfo